<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdx.backstage.mapper.CompanyMapper">
    <select id="queryAllCompany" resultType="company">
        select * from tb_company;
    </select>
</mapper>